body {
    margin: 0;
    padding: 25px;

  }
.header{
    width: 100%;
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box ;
}

.top-box1{
    background-color: blue;
    height: 150px;
    width: 50px;
    display: inline-block;
}

.top-box2{
    background-color: green;
    height: 200px;
    width: 400px;
    display: inline-block;
    margin: 0 50px;
}

.top-circle{
    background-color: skyblue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
}

.main{
    border: 5px dotted black;
    width:  100%;
    padding: 50px;
    margin-top: 25px;
    box-sizing: border-box;
}

.mid-box{
    margin: 5px;
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 200px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, .75);
}

.footer{
    width: 50%;
    border: 1px solid #ccc;
    background-color: white;
    padding:75px;
    box-sizing: border-box ;
    margin: 25px auto; 
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);

}

.bottom-box{
text-align: center;
color: navy;
width: 100%;
letter-spacing: 10px;
}